# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/

# virtualenv
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Databases and pickles
*.db
*.pkl

# Environment files
.env.txt

# macOS Finder metadata
.DS_Store
